[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=hello world
Name[ca]=hola món
Name[nl]=hallo wereld
Name[pt]=olá mundo
Name[pt_BR]=Olá mundo
Name[sv]=hello world
Name[uk]=Привіт, світе
Name[x-test]=xxhello worldxx
Name[zh_CN]=你好世界
Type=Service
Icon=package_toys
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.example.helloworldnowindow
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/Generic

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
